doctype html
html
    head
        link(rel='icon' type='image/png' href='images/logo.PNG')

        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/banner.css')

    body

        .px-60
            nav.bg-white.shadow-lg
                .max-w-6xl.mx-auto.px-4
                    .flex.justify-between
                        .flex.space-x-10
                            div
                                a.flex.items-center.py-4.px-2(href='/')
                                    img.h-7.w-8.mr-2(src='images/logo.PNG' alt='Logo')
                                    span.font-semibold.text-gray-500.text-lg MegaVision
                            .hidden.items-center.space-x-1(class='md:flex')
                                a.py-4.px-2.text-blue-600.border-b-4.border-blue-600.font-semibold(href='#Productos') Productos
                                a.py-4.px-2.text-gray-500.font-semibold.transition.duration-300(href='#Servicios' class='hover:text-blue-500') Servicios
                                a.py-4.px-2.text-gray-500.font-semibold.transition.duration-300(href='#QuienesSomos' class='hover:text-blue-500') Quienes Somos

                        .flex.items-center(class='md:hidden')
                            button.outline-none.mobile-menu-button
                                svg.w-6.h-6.text-gray-500(class='hover:text-green-500' x-show='!showMenu' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' stroke='currentColor')
                                    path(d='M4 6h16M4 12h16M4 18h16')
                .hidden.mobile-menu
                    ul
                        li.active
                            a.block.text-sm.px-2.py-4.text-white.bg-green-500.font-semibold(href='/') Services
                        li
                            a.block.text-sm.px-2.py-4.transition.duration-300(href='/Servicios' class='hover:bg-green-500') About
                        li
                            a.block.text-sm.px-2.py-4.transition.duration-300(href='/QuienesSomos' class='hover:bg-green-500') Contact Us
                script.
                    const btn = document.querySelector("button.mobile-menu-button");
                    const menu = document.querySelector(".mobile-menu");
                    btn.addEventListener("click", () => {
                        menu.classList.toggle("hidden");
                    });



            block content

