each tipo in productos
    if tipo.name == 'Premium'
        .text-yellow-500.text-8xl.font-semibold.text-center.p-4(class='md:text-xl lg:text-6xl')= tipo.name
    else
        .text-blue-400.text-8xl.font-semibold.text-center.p-4(class='md:text-xl lg:text-6xl')= tipo.name
    .flex.space-x-10.justify-center
        each producto in tipo.productos
            .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
                .flex.justify-center.-mt-16(class='md:justify-end')
                div
                    h2.text-gray-800.text-3xl.font-semibold= producto.name
                    .mt-2.text-gray-600=  producto.text
