extends layout

block content


    img.h-80.w-full.mt-4(src='images/aboutUs.jpg')


    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Lentes


    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Monofocales
    p.ml-4 Son aquellos que tienen la misma graduación en toda la superficie. Con ellas se puede corregir cualquier error refractivo o ametropía como la miopía, hipermetropía, astigmatismo o prescibicia. El diseñoo tallado de una lente monfocal depende del efecto refractivo que quiera corregir.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Bifocales
    p.ml-4 Son aquellas que tienen dos graduaciones diferentes para permitir a la persona corregir errores o defectos refractivos en la visión de lejos y de cerca. Las lentes bifocales se crearon para compensar errores refractivos diferentes como por ejemplo la presbicia, miopía e hipermetrofía más astigmatismo.

    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Progresivos
    p.ml-4 Tienen una graduación progresiva de cerca a lejos, sin embargo, no son todos iguales, ya que hay productos de corrección más avanzados y otros más básicos


    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Premium

    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Alta Gama Personalizada
    p.ml-4 La tecnología de las lentes de alta gama tienen un tallado a doble cara proporcionando campos visuales más amplios que las lentes convencionales, además son personalizadas totalmente al estilo de vida y montura elegidas por el usuario, la otra ventaja es la amplitud de su campo visual.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Tension
    p.ml-4 Disponen de una tecnología fotocromática especialmente diseñada para permitir que las lentes se oscurezcan rápidamente cuando se exponen a la luz ultravioleta qué, a mayor intensidad de los rayos UVA y UVB, más se oscurecen.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Antireflejo
    p.ml-4 El tratamiento antirreflejo aplicado en el frente y dorso de los lentes de prescripción reduce enormemente la luz que reflejan las superficies de los lentes. Como resultado, los ojos se ven más claros detrás de los lentes, la visión es más definida y el deslumbramiento de los objetos reflejados, especialmente de las luces de los vehículos, se elimina casi por completo.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Luz Azul
    p.ml-4 Las lunas BLUE PROTECT reducen notablemente el estrés, fatiga visual y dolores de cabeza producidos por las pantallas digitales de los celulares, computadores, TV LED y otras fuentes de luz artificial. Mejora tu estado de ánimo Al dejar pasar solo la luz azul beneficiosa, se regula el ritmo circadiano (ciclos de sueño), elevando tus ánimos y, estimula la memoria y el desarrollo de las funciones cognitivas. Disminuye daño visual Bloquean la luz azul dañina para la retina, reduciendo el proceso neurodegenerativo del sistema visual y el riesgo de aparición de cataratas y DMAE.


    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Lentes de Contacto
    p.ml-4 Son una excelente opción para casi todos los casos, pero se debe pasar por el Optómetra-Contactólogo, ya que si encontraran alguna patología, el paciente sería derivado(a) al Oftalmólogo.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Diarios
    p.ml-4 Son una opción saludable y conveniente, ya que se extraen y descartan al cabo de cada día y a la mañana siguiente se coloca un nuevo par en los ojos.

    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Colores
    p.ml-4 Estos pueden tener o no medida y se usan solamente a fines estéticos para cambiar el color de los ojos.
    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') Bifocales / Multifocales
    p.ml-4 Están diseñados con el fin de proporcionar una visión clara a todas las distancias para las personas que tienen presbicia.


