extends layout

block content

    img.h-80.w-full.mt-4(src='images/aboutUs.jpg')


    .text-blue-400.text-8xl.font-semibold.text-center.p-4(class='md:text-xl lg:text-6xl') Lentes de Contacto

    .flex.space-x-10.justify-center
        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Monofocales
                p.mt-2.text-gray-600
                    | Son aquellos que tienen la misma graduación en toda la superficie. Con ellas se puede corregir cualquier error refractivo o ametropía como la miopía, hipermetropía, astigmatismo o prescibicia. El diseñoo tallado de una lente monfocal depende del efecto refractivo que quiera corregir.
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Bifocales
                p.mt-2.text-gray-600
                    | Son aquellas que tienen dos graduaciones diferentes para permitir a la persona corregir errores o defectos refractivos en la visión de lejos y de cerca. Las lentes bifocales se crearon para compensar errores refractivos diferentes como por ejemplo la presbicia, miopía e hipermetrofía más astigmatismo.
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Progresivos
                p.mt-2.text-gray-600
                    | Tienen una graduación progresiva de cerca a lejos, sin embargo, no son todos iguales, ya que hay productos de corrección más avanzados y otros más básicos
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe

    .text-blue-400.text-8xl.font-semibold.text-center.p-4(class='md:text-xl lg:text-6xl') Premium
    .flex.space-x-10.justify-center
        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Alta Gama Personalizada
                p.mt-2.text-gray-600
                    | La tecnología de las lentes de alta gama tienen un tallado a doble cara proporcionando campos visuales más amplios que las lentes convencionales, además son personalizadas totalmente al estilo de vida y montura elegidas por el usuario, la otra ventaja es la amplitud de su campo visual.
            .flex.justify-end.mt-4
                a.text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Tension
                p.mt-2.text-gray-600
                    | Disponen de una tecnología fotocromática especialmente diseñada para permitir que las lentes se oscurezcan rápidamente cuando se exponen a la luz ultravioleta qué, a mayor intensidad de los rayos UVA y UVB, más se oscurecen.
            .flex.justify-end.mt-4
                a.text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Antireflejo
                p.mt-2.text-gray-600
                    | El tratamiento antirreflejo aplicado en el frente y dorso de los lentes de prescripción reduce enormemente la luz que reflejan las superficies de los lentes. Como resultado, los ojos se ven más claros detrás de los lentes, la visión es más definida y el deslumbramiento de los objetos reflejados, especialmente de las luces de los vehículos, se elimina casi por completo.
            .flex.justify-end.mt-4
                a.text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Luz Azul
                p.mt-2.text-gray-600
                    | Las lunas BLUE PROTECT reducen notablemente el estrés, fatiga visual y dolores de cabeza producidos por las pantallas digitales de los celulares, computadores, TV LED y otras fuentes de luz artificial. Mejora tu estado de ánimo Al dejar pasar solo la luz azul beneficiosa, se regula el ritmo circadiano (ciclos de sueño), elevando tus ánimos y, estimula la memoria y el desarrollo de las funciones cognitivas. Disminuye daño visual Bloquean la luz azul dañina para la retina, reduciendo el proceso neurodegenerativo del sistema visual y el riesgo de aparición de cataratas y DMAE.
            .flex.justify-end.mt-4
                a.text-xl.font-medium.text-indigo-500(href='#') John Doe





    .text-blue-400.text-8xl.font-semibold.text-center.p-4(class='md:text-xl lg:text-6xl') Lentes de Contacto
    .flex.space-x-10.justify-center
        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Diarios
                p.mt-2.text-gray-600
                    | Son una opción saludable y conveniente, ya que se extraen y descartan al cabo de cada día y a la mañana siguiente se coloca un nuevo par en los ojos.
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Colores
                p.mt-2.text-gray-600
                    | Estos pueden tener o no medida y se usan solamente a fines estéticos para cambiar el color de los ojos.
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe

        .max-w-md.py-4.px-8.bg-white.shadow-lg.rounded-lg.my-20
            .flex.justify-center.-mt-16(class='md:justify-end')
            div
                h2.text-gray-800.text-3xl.font-semibold Bifocales / Multifocales
                p.mt-2.text-gray-600
                    | Están diseñados con el fin de proporcionar una visión clara a todas las distancias para las personas que tienen presbicia.
            .flex.justify-end.mt-4
                .text-xl.font-medium.text-indigo-500(href='#') John Doe


