//extends layout

//block content

p.text-blue-500.text-2xl.text-center.p-4.tracking-tight(class='md:text-xl lg:text-5xl') PROGRAMA PREVENTIVO DE SALUD VISUAL OCUPACIONAL CON CRDITO PTICO

figure.bg-gray-100.rounded-xl.p-8(class='md:flex md:p-0')
    .pt-6.text-center.space-y-4(class='md:p-8 md:text-left')
        blockquote
            p.text-lg.font-semibold
                | Es un servicio integral con el que logramos el diagn贸stico m茅dico visual
                | a trabajadores de empresas y a sus familiares, con el objetivo de optimizar
                | su rendimiento laboral, enfoc谩ndonos en brindarles la particular y exclusiva atenci贸n de
                | despistaje integral y medida de la vista personalizada, obteniendo un resultado 贸ptimo,
                | priorizando su salud ocular, diagn贸stico que se logra sumado a 茅ste los problemas que refiera
                | el paciente y que est茅n relacionados con alguna Patolog铆a M茅dica Visual o defectos de refracci贸n no corregidos, tales como:
            ul
                li Cansancio
                li Dolor de cabeza
                li Desconcentraci贸n
                li En ni帽os en edad escolar con un aprendizaje muy pobre
                li Rendimiento laboral deficiente
                li P茅rdida progresiva de la vista

br
figure.bg-gradient-to-br.from-white.to-blue-700.rounded-xl.p-8(class='md:flex md:p-0')
    .pt-6.text-center.space-y-4(class='md:p-8 md:text-left')
        blockquote
            p.text-lg.font-bold.mb-4.text-3xl.text-center COMPONENTES
            - let indice = 1
            .flex.space-x-10.justify-center
                each i in componentes

                    div(x-data='{ showModal'+ indice + ': false }')
                        a(@click='showModal' + indice + ' = !showModal' + indice class='focus:outline-none focus:ring-0 hover:bg-gray-50 focus:bg-indigo-50 focus:text-indigo')
                            img.h-60.w-60.rounded-none.mx-auto(src=i.image)

                            // Modal Background
                            .fixed.text-gray-500.flex.items-center.justify-center.overflow-auto.z-50.bg-black.bg-opacity-40.left-0.right-0.top-0.bottom-0(x-show='showModal'+indice x-transition:enter='transition ease duration-300' x-transition:enter-start='opacity-0' x-transition:enter-end='opacity-100' x-transition:leave='transition ease duration-300' x-transition:leave-start='opacity-100' x-transition:leave-end='opacity-0')
                                // Modal
                                .bg-white.rounded-xl.shadow-2xl.p-6.mx-10(x-show='showModal'+indice class='sm:w-10/12' @click.away='showModal'+ indice +' = false' x-transition:enter='transition ease duration-100 transform' x-transition:enter-start='opacity-0 scale-90 translate-y-1' x-transition:enter-end='opacity-100 scale-100 translate-y-0' x-transition:leave='transition ease duration-100 transform' x-transition:leave-start='opacity-100 scale-100 translate-y-0' x-transition:leave-end='opacity-0 scale-90 translate-y-1')
                                    // Title
                                    span.font-bold.block.text-2xl.mb-3.text-center=  i.name
                                    // Some beer 
                                    p.mb-5.text-center= i.text
                    - indice = indice + 1

script(src='https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js' defer='')
