extends layout

block content

    img.h-80.w-full.mt-4(src='images/aboutUs.jpg')
    p.text-blue-400.text-2xl.text-center.p-4.tracking-tight(class='md:text-xl lg:text-5xl') PROGRAMA PREVENTIVO DE SALUD VISUAL OCUPACIONAL CON CRÉDITO ÓPTICO

    figure.bg-gray-100.rounded-xl.p-8(class='md:flex md:p-0')
        .pt-6.text-center.space-y-4(class='md:p-8 md:text-left')
            blockquote
                p.text-lg.font-semibold
                    | Es un servicio integral con el que logramos el diagnóstico médico visual
                    | a trabajadores de empresas y a sus familiares, con el objetivo de optimizar
                    | su rendimiento laboral, enfocándonos en brindarles la particular y exclusiva atención de
                    | despistaje integral y medida de la vista personalizada, obteniendo un resultado óptimo,
                    | priorizando su salud ocular, diagnóstico que se logra sumado a éste los problemas que refiera
                    | el paciente y que estén relacionados con alguna Patología Médica Visual o defectos de refracción no corregidos, tales como:
                ul
                    li Cansancio
                    li Dolor de cabeza
                    li Desconcentración
                    li En niños en edad escolar con un aprendizaje muy pobre
                    li Rendimiento laboral deficiente
                    li Pérdida progresiva de la vista

    br
    figure.bg-gray-100.rounded-xl.p-8(class='md:flex md:p-0')
        .pt-6.text-center.space-y-4(class='md:p-8 md:text-left')
            blockquote
                p.text-lg.font-semibold COMPONENTES
                .flex
                    p CONSULTA
                    img.h-auto.w-auto.rounded-full.mx-auto(src='images/consulta-oftalmologia-general-II-.jpg')
                    p Consiste en la evaluación integral de los ojos, por el Optometrista y/u Oftalmólogo que tiene
                      | como finalidad la prevención, detección y posterior tratamiento de patologías que se podrían encontrar.

                    p EXAMEN DE REFRACCIÓN O MEDIDA DE LA VISTA
                    img.h-60.w-60.rounded-full.mx-auto(src='images/consulta-oftalmologia-general-II-.jpg')
                    p Permite determinar cualquier error refractivo
                      | para su posterior corrección mediante anteojos, lentes de contacto y/u operaciones con Exímer Laser

                    p PERSONAL TÉCNICO
                    img.h-60.w-60.rounded-full.mx-auto(src='images/consulta-oftalmologia-general-II-.jpg')
                    p Atención personalizada y preferente por consultores ópticos que ofrecen atención
                      | esmerada, absolviendo cualquier consulta técnica sobre los productos, recomendando lo más apropiado a cada
                      | necesidad, gusto y fisonomía de cada persona.

                    p PROGRAMA EXTENSIVO A LOS FAMILIARES
                    img.h-60.w-60.rounded-full.mx-auto(src='images/consulta-oftalmologia-general-II-.jpg')
                    p En este Programa también se ha previsto hacer
                      | extenso a los familiares de los trabajadores, quienes serán atendidos en las mismas condiciones que los
                      | titulares en campañas y/o consultorio.

                    p DESPISTAJE OFTALMOLÓGICO INTEGRAL
                    img.h-60.w-60.rounded-full.mx-auto(src='images/consulta-oftalmologia-general-II-.jpg')
                    p Para los trabajadores de la empresa y sus familiares en
                      | sus propias sedes en campañas corporativas o en consultorio de nuestro Centro.
