extends layout

block content

    img.h-80.w-full.mt-4(src='images/aboutUs.jpg')
    .p-4
    p.text-blue-400.text-2xl.text-center.p-4.tracking-tight(class='md:text-xl lg:text-5xl') PROGRAMA PREVENTIVO DE SALUD VISUAL OCUPACIONAL CON CRÉDITO ÓPTICO

    figure.bg-gray-100.rounded-xl.p-8(class='md:flex md:p-0')
        .pt-6.text-center.space-y-4(class='md:p-8 md:text-left')
            blockquote
                p.text-lg.font-semibold
                    | Es un servicio integral con el que logramos el diagnóstico médico visual
                    | a trabajadores de empresas y a sus familiares, con el objetivo de optimizar
                    | su rendimiento laboral, enfocándonos en brindarles la particular y exclusiva atención de
                    | despistaje integral y medida de la vista personalizada, obteniendo un resultado óptimo,
                    | priorizando su salud ocular, diagnóstico que se logra sumado a éste los problemas que refiera
                    | el paciente y que estén relacionados con alguna Patología Médica Visual o defectos de refracción no corregidos, tales como:

    ul
        li Cansancio
        li Dolor de cabeza
        li Desconcentración
        li En niños en edad escolar con un aprendizaje muy pobre
        li Rendimiento laboral deficiente
        li Pérdida progresiva de la vista

    p COMPONENTES

    p CONSULTA
    p EXAMEN DE REFRACCIÓN O MEDIDA DE LA VISTA
    p PERSONAL TÉCNICO
    p PROGRAMA EXTENSIVO A LOS FAMILIARES
    p DESPISTAJE OFTALMOLÓGICO INTEGRAL
