extends layout

block content
    img.h-80.w-full.mt-4(src='images/aboutUs.jpg')


    p.text-blue-400.text-2xl.font-bold.p-4(class='md:text-xl lg:text-2xl') PROGRAMA PREVENTIVO DE SALUD VISUAL OCUPACIONAL CON CRÉDITO ÓPTICO
    p Es un servicio integral con el que logramos el diagnóstico médico visual a trabajadores de empresas y a sus familiares, con el objetivo de optimizar su rendimiento laboral, enfocándonos en brindarles la particular y exclusiva atención de despistaje integral y medida de la vista personalizada, obteniendo un resultado óptimo, priorizando su salud ocular, diagnóstico que se logra sumado a éste los problemas que refiera el paciente y que estén relacionados con alguna Patología Médica Visual o defectos de refracción no corregidos, tales como
    ul
        li Cansancio
        li Dolor de cabeza
        li Desconcentración
        li En niños en edad escolar con un aprendizaje muy pobre
        li Rendimiento laboral deficiente
        li Pérdida progresiva de la vista

    p COMPONENTES

    p CONSULTA
    p EXAMEN DE REFRACCIÓN O MEDIDA DE LA VISTA
    p PERSONAL TÉCNICO
    p PROGRAMA EXTENSIVO A LOS FAMILIARES
    p DESPISTAJE OFTALMOLÓGICO INTEGRAL
